@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 98vh;
}

.graphics-container {
    background-image: url(/assets/background.jpg);
    background-size: cover;
    display: flex;
    height: 100%;
    width: 30vw;
}

.logo {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 14vh;
    width: 35vw;
}

.logo-img {
    height: 12.5vh;
    width: auto;
}

.logo-text {
    height: 70px;
    font-size: clamp(40px,90px, 90px);
    font-weight: 700;
    align-self: center;
    font-family: norse-bold, sans-serif;
    color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.text-container {
    padding-left: 3vw;
    padding-right: 18vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
    background-color: #F9FAFB;
}

.text-container .main, .text-container .bottom {
    font-size: 1.3em;
    font-weight: bold;
}

.text-container .bottom {
    margin-top: 5vh;
}

.input-container {
    padding-left: 3vw;
    padding-right: min(15vw, 0px);
}


.input-form {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}


.input-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: max(6vw, 0px);
    margin-left: 0px;
}

.content-bottom {
    background-color: #F9FAFB;
    border: 1px solid red;
    padding-left: 3vw;
    height: 100%;
}


input {
    width: 230px;
    height: 30px;
}

button {
    margin: 20px;
    margin-left: 0px;
}



















